.three-container {
    height: 100vh;
    height: 100vh;
  background-image: linear-gradient(#000000, #ff2644, #ff2644);
  background-repeat: repeat;
}

.loading-container {
    text-align: center;
    font-size: 16px;
    color: white;
  }
  
  .loading-spinner {
    margin: 10px auto;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid white;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dim background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10; /* Ensure it overlays */
  }
  
  .valentines-card {
    background: #ffebf0;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 300px;
    font-family: "Comic Sans MS", cursive;
  }
  
  .valentines-card h2 {
    color: #d63384;
  }
  
  .valentines-card p {
    color: #333;
  }
  
  .close-button {
    margin-top: 10px;
    background: #ff66b2;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .close-button:hover {
    background: #ff3385;
  }

.spotify-container {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.spotify-container h2 {
    font-size: 1rem;
    color: #ff4d6d;
    margin-bottom: 5px;
    z-index: 2;
    position: relative;
}

@media (max-width: 768px) {
  .three-container {
    height: 100vh; /* Occupy 100% height on mobile */
  }
  .spotify-container {
    width: 80%;
  }
}
